<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            background-color: teal;
            color: white;
            border: none;
            border-radius: 50px;
            margin-bottom: 10px;
            text-decoration: none;
            font-weight: bold;
        }


        .buttons-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 20px;
        }
    </style>
    
    <style>
        .footer {
            background-color: #0c0593;
            padding: 10px;
            text-align: left;
            color: white;
        }
    </style>

    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #4f4fe9;
            padding: 10px;
        }

        .navbar-left {
            display: flex;
        }

        .navbar-right {
            display: flex;
        }

        .navbar-button {
            margin-right: 10px;
        }
    </style>

    


</head>
<body>
  
