<div class="navbar">
    <div class="navbar-left">
        <button class="navbar-button" onclick="location.href='/home'">Home</button>
        <button class="navbar-button" onclick="location.href='/login'">Log In</button>
        <button class="navbar-button" onclick="location.href='/register'">Register</button>
    </div>
    <div class="navbar-right">
        <button class="navbar-button" onclick="location.href='/profile'">Profile</button>
    </div>
</div>