<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <div>
      <a href="/"><h2>Home</h2></a>
    </div>

    <h1>This is Hactiv9 createprofile page</h1>

    <form action="/profile/create" method="post" id="profileForm">
      <h1>Complete Your Profile</h1>

      <label for="firstName">Firstname</label><br />
      <input type="text" name="firstName" placeholder="Firstname..." /><br />

      <label for="lastName">Lastname</label><br />
      <input type="text" name="lastName" placeholder="Lastname..." /><br />

      <label for="gender">Gender</label><br />
      <select name="gender" form="profileForm">
        <option value="">---SELECT---</option>
        <% gender.forEach((el) => { %>
        <option value="<%= el %>"><%= el %></option>
        <% }); %>
      </select><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
