<%- include('./layouts/header.ejs') %>
<%- include('./layouts/navbar.ejs') %>


<h1>This is Hactiv9 Home</h1>

<div>
    <a href="/seeAllCourse"><p>See all Courses</p></a>
    <a href="/contactUs"><p>contact us</p></a>
</div>
<%- include('./layouts/footer.ejs') %>