<%- include('./layouts/header.ejs') %>
<%- include('./layouts/navbar.ejs') %>


    <h1>This is Login Page</h1>
    <% if (error) %> <h3 style="color: red;"><%= error %></h3>
    <form action="/login" method="post">
      <label for="userName">Username</label><br />
      <input type="text" name="userName" placeholder="Username..." /><br />

      <label for="password">Password</label><br />
      <input
        type="password"
        name="password"
        placeholder="password..."
      /><br /><br />

      <input type="submit" value="Login" />
    </form>
  </body>
</html>

<h1>This is Login Page</h1>
<form action="/login" method="post">
  <label for="userName">Username</label><br />
  <input type="text" name="userName" placeholder="Username..." /><br />
  
  <label for="password">Password</label><br />
  <input
  type="text"
  name="password"
  placeholder="password..."
  /><br /><br />
  
  <input type="submit" value="Submit" />
</form>

<%- include('./layouts/footer.ejs') %>

